################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Caos-Tor/Library
/Caos-Tor/Logs
Caos-Tor/Temp/workerlic
Caos-Tor/Temp/UnityLockfile
Caos-Tor/Temp/PropertyDatabase_2066312223
Caos-Tor/Temp/PropertyDatabase_1265138678
Caos-Tor/Temp/FSTimeGet-d6c4e440a5fbf634bbf23e472106f0f3
Caos-Tor/Temp/FSTimeGet-c0bb5bf9ff6cc2943ba4233a576db734
Caos-Tor/Temp/FSTimeGet-37d821dfd454a2840ba2cf86aa9fff6e
Caos-Tor/Temp/__Backupscenes/0.backup
Caos-Tor/ProjectSettings/TagManager.asset
Caos-Tor/ProjectSettings/SceneTemplateSettings.json
Caos-Tor/ProjectSettings/ProjectSettings.asset
Caos-Tor/ProjectSettings/EditorSettings.asset
Caos-Tor/Packages/packages-lock.json
Caos-Tor/Packages/manifest.json
Caos-Tor/Assets/Sprites.meta
Caos-Tor/Assets/Scripts/PlayerMovement.cs.meta
Caos-Tor/Assets/Scripts/InteractZone.cs.meta
Caos-Tor/Assets/Scripts/InteractableElement.cs.meta
Caos-Tor/Assets/Scenes/Level1.unity.meta
Caos-Tor/Assets/Scenes/Level1.unity
Caos-Tor/.vsconfig
Caos-Tor/Assets/Scenes/Level1.unity
Caos-Tor/Packages/manifest.json
Caos-Tor/Packages/packages-lock.json
Caos-Tor/ProjectSettings/EditorSettings.asset
Caos-Tor/ProjectSettings/ProjectSettings.asset
Caos-Tor/ProjectSettings/TagManager.asset
Caos-Tor/Temp/FSTimeGet-3927a2f68b052924787169c52d8317e6
Caos-Tor/Temp/FSTimeGet-2bab2a43965b56a419e922ca31564b4c
Caos-Tor/Assets/Scripts/GameManager.cs.meta
Caos-Tor/Assets/Scripts/InventoryObject.cs.meta
*.prefab
Caos-Tor/Assets/Prefabs/Leñador.prefab
Caos-Tor/Assets/Prefabs/Leñador.prefab
Caos-Tor/Assets/Scenes/Level1.unity
Caos-Tor/Temp/FSTimeGet-957f449c5033720458c3851189549584
Caos-Tor/Temp/FSTimeGet-1214510be10a7124bbb6397a2dc10a30
Caos-Tor/Temp/FSTimeGet-346d5fcb45651a344b60d7ea1aff6980
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler6.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler5.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler4.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler3.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler2.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler1.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler0.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler7.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler6.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler5.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler4.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler3.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler2.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler1.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler0.log
*.log
Caos-Tor/Temp/FSTimeGet-9dac24c8f305dd147baf90d71dfcecd6
Caos-Tor/Temp/FSTimeGet-cf1ce55114988e142b17f13f96fe1fa8
Caos-Tor/Temp/FSTimeGet-d6ebe1187effcc74cb18a4525d3286f4
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler0.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler1.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler2.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler3.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler4.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler5.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler6.log
Caos-Tor/Logs/shadercompiler-UnityShaderCompiler7.log
Caos-Tor/Temp/FSTimeGet-d9d85fd664c1336489c514df99da58ec
Caos-Tor/Temp/FSTimeGet-d4f4d761ddadab1429b8dfdbee13eedb
Caos-Tor/Temp/FSTimeGet-a7b7470e9d9a993438cc89246e343ab2
Caos-Tor/Temp/FSTimeGet-20d06ea704eeefc4d9e1c7271c8ab2c1
Caos-Tor/Assets/Sprites/RPGpack_sheet_2X.png.meta
Caos-Tor/Assets/Scenes/Level1.unity
Caos-Tor/Temp/FSTimeGet-9bbe0da5fadbde34b9933e8e866b441c
Caos-Tor/Temp/FSTimeGet-5025997e78ed8c041bd981490e449b7d
Caos-Tor/Temp/FSTimeGet-2344fb02d5478834487be0cff42ca333
Caos-Tor/Temp/FSTimeGet-0c6b2a0a47fa8c64b967597143fc40f6
Caos-Tor/Temp/FSTimeGet-07167b83714a1594e9abdea0d2384c54
Caos-Tor/Temp/FSTimeGet-b86425566f9883443ad34f567abbc6d1
Caos-Tor/Temp/FSTimeGet-b43fbfeabb2e6514a8899aec076ee856
Caos-Tor/Temp/FSTimeGet-b35607dd13e06b1488e29b89c538c483
Caos-Tor/Temp/FSTimeGet-ae25be5b56d14c846b6963f88d60dbc2
Caos-Tor/Temp/FSTimeGet-a502a7dc53864214d95889d7687e75b0
Caos-Tor/Temp/FSTimeGet-8af3d4e7c761abd439c832968b845f0f
Caos-Tor/Temp/FSTimeGet-8397baf582669074ebdf8437f82e3552
Caos-Tor/Temp/FSTimeGet-74206ea386180d242a4d119199d56b03
Caos-Tor/Temp/FSTimeGet-361db34a1037b5940af5280d9849a65f
Caos-Tor/Temp/FSTimeGet-25582450a3f86434ba2163be057f69f9
