################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Caos-Tor/Library
/Caos-Tor/Logs
Caos-Tor/Temp/workerlic
Caos-Tor/Temp/UnityLockfile
Caos-Tor/Temp/PropertyDatabase_2066312223
Caos-Tor/Temp/PropertyDatabase_1265138678
Caos-Tor/Temp/FSTimeGet-d6c4e440a5fbf634bbf23e472106f0f3
Caos-Tor/Temp/FSTimeGet-c0bb5bf9ff6cc2943ba4233a576db734
Caos-Tor/Temp/FSTimeGet-37d821dfd454a2840ba2cf86aa9fff6e
Caos-Tor/Temp/__Backupscenes/0.backup
Caos-Tor/ProjectSettings/TagManager.asset
Caos-Tor/ProjectSettings/SceneTemplateSettings.json
Caos-Tor/ProjectSettings/ProjectSettings.asset
Caos-Tor/ProjectSettings/EditorSettings.asset
Caos-Tor/Packages/packages-lock.json
Caos-Tor/Packages/manifest.json
Caos-Tor/Assets/Sprites.meta
Caos-Tor/Assets/Scripts/PlayerMovement.cs.meta
Caos-Tor/Assets/Scripts/InteractZone.cs.meta
Caos-Tor/Assets/Scripts/InteractableElement.cs.meta
Caos-Tor/Assets/Scenes/Level1.unity.meta
Caos-Tor/Assets/Scenes/Level1.unity
Caos-Tor/.vsconfig
Caos-Tor/Assets/Scenes/Level1.unity
Caos-Tor/Packages/manifest.json
Caos-Tor/Packages/packages-lock.json
Caos-Tor/ProjectSettings/EditorSettings.asset
Caos-Tor/ProjectSettings/ProjectSettings.asset
Caos-Tor/ProjectSettings/TagManager.asset
Caos-Tor/Temp/FSTimeGet-3927a2f68b052924787169c52d8317e6
Caos-Tor/Temp/FSTimeGet-2bab2a43965b56a419e922ca31564b4c
